<ion-header>
  <ion-navbar>
    <ion-title>Odds<span class="text-accent--green">Finder</span></ion-title>
    <ion-buttons end>
        <button (click)="dismiss()">
            <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list *ngIf="match">
    <ion-list-header>
      {{ match.Team1 }} vs {{ match.Team2 }}
    </ion-list-header>
    <ion-list-header class="match-league">
      {{ match.League }}
    </ion-list-header>
    <ion-item class="match-instance" *ngFor="let matchInstance of match.MatchInstances">
      <img *ngIf="matchInstance.Service === 'https://www.betway.co.ke/'" src="../../assets/images/betway.png">
      <div item-end>
        <span (click)="share(matchInstance)" class="share">Share</span>
        <span>{{ matchInstance.Team1.Price }}</span>
        <span>{{ matchInstance.DrawPrice }}</span>
        <span>{{ matchInstance.Team2.Price }}</span>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
