<ion-header>
  <ion-navbar>
    <ion-title text-center *ngIf="!match">Match</ion-title>
    <ion-title text-center *ngIf="match">{{ match.Team1 }} vs {{ match.Team2 }}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-navbar class="logo">
    <ion-title item-start>Odds<span class="text-accent--green">Finder</span></ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list *ngIf="match">
    <!-- <ion-list-header>
      <span class="psuedokey" item-end>{{ match.PsuedoKey }}</span>
    </ion-list-header> -->
    <ion-list-header>
      {{ match.League }}
    </ion-list-header>
    <div *ngFor="let region of regions">
      <ion-list-header class="match-league">
        {{ region.name }}
      </ion-list-header>
      <ion-item class="match-instance" *ngFor="let matchInstance of region.matchInstances">
        <img *ngIf="matchInstance.Service === 'Betway'" src="assets/images/betway.png">
        <img *ngIf="matchInstance.Service === 'MerryBet'" src="assets/images/merrybet.png">
        <img *ngIf="matchInstance.Service === 'PrincessBet'" src="assets/images/princessbet.png">
        <img *ngIf="matchInstance.Service === 'BetPawa'" src="assets/images/betpawa.png">
        <img *ngIf="matchInstance.Service === 'LovingBet'" src="assets/images/lovingbet.png">
        <div item-end>
          <span (click)="share(matchInstance)" class="share">Share</span>
          <span>{{ matchInstance.Team1.Price }}</span>
          <span>{{ matchInstance.DrawPrice }}</span>
          <span>{{ matchInstance.Team2.Price }}</span>
        </div>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
