body {
  margin: 0;
}

* {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.admin-container {
  display: flex;
  flex-direction: row;
}

.admin-panel {
  background-color: #000;
  color: #FFF;
  flex: 0 0 230px;
  min-height: 100vh;
}

.green {
  color: #6bc241;
}

.admin-panel-title {
  font-size: 22px;
  background-color: #000;
  padding: 10px;
}

.admin-panel-section {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.admin-panel-section-title {
  letter-spacing: .5px;
  font-weight: 700;
  font-size: 11px;
  padding-left: 15px;
  margin-bottom: 20px;
}

.admin-panel-tab {
  color: #E7E7E7;
  font-weight: 500;
  padding: 15px;
  cursor: pointer;
}

.admin-panel-tab.selected {
  background-color: #222;
}

.admin-panel-tab span {
  float: right;
}

.admin-main {
  flex: 1;
  background-color: #F7F7F7;
  min-height: 100vh;
}

.admin-search {
  padding: 25px;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.admin-search > input {
  height: 40px;
  width: 250px;
  background-color: #EDEDED;
  border: 0;
  color: #333;
  font-size: 18px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

.admin-search > button {
  background-color: #1ABB9C;
  color: #FFF;
  border: 0;
  padding: 13px 15px;
  cursor: pointer;
  height: 40px;
}

.admin-search > button:hover {
  background-color: #1c9981;
}

.search-chips {
  padding: 25px;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.search-chip {
  background-color: #1ABB9C;
  color: #FFF;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
}

.search-chip:hover {
  background-color: #1c9981;
}

.search-chip .fa {
  margin-right: 5px;
  display: none;
}

.search-chip:hover .fa {
  display: inline-block;
}

.display-meta {
  padding: 10px 25px 0;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
}

.display-meta > span {
  margin: 0 5px;
}

.admin-content {
  overflow-y: scroll;
  background-color: #F7F7F7;
}

.match-container {
  padding: 5px;
  background-color: #EDEDED;
  border: 1px solid #D9DEE4;
  color: #73879C;
  text-align: center;
  margin: 20px;
  cursor: pointer;
  transition: all .25s ease-in-out;
}

.match-container:hover {
  background-color: #e6e6e6;
}

.match-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 10px;
  padding: 10px;
}

.match-title {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  color: #1ABB9C;
}

.match-title span {
  margin: 0 10px;
}

.match-league {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 14px;
  padding: 10px;
}

.match-instance-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #D9DEE4;
}

.match-instance-container:hover {
  background-color: #dbdada;
}

.match-instance-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 10px;
  padding: 10px;
}

.match-instance-title {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.match-instance-title span {
  margin: 0 10px;
}

.match-instance-odds {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.match-container > * {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}

.match-container .match-title {
  opacity: 1;
  position: relative;
  visibility: visible;
  transition: all .25s ease-in-out;
}

.match--show {
  padding: 25px;
  transition: all .25s ease-in-out;
}

.match--show > * {
  opacity: 1;
  visibility: visible;
  position: relative;
  transition: all .25s ease-in-out;
}